<html>
  <head>
    <title>Tweets and Events</title>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="swf/swfobject.js"></script>
    <script type="text/javascript" src="swf/FABridge.js"></script>
    <script type="text/javascript" src="swf/web_socket.js"></script>
    <script type="text/javascript">
      WebSocket.__swfLocation = "swf/WebSocketMain.swf";
    </script>
    <script type="text/javascript" src="socket.js"></script>
  </head>
  <body>
    <div id="container">
      <p id="waiting">waiting data...</p>
      <div id="tweets">
      </div>
      <div id="events">
      </div>
    </div>
  </body>
</html>
