<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ChirpUserStreams => WebSocket</title>
  </head>
  <body>
    <h1>Twitter ChirpUserStreams => WebSocket</h1>
    <ul>
      <li><a href="chirp.html#kei_s" >@kei_s's timeline</a></li>
      <li><a href="chirp.html#june29">@june29's timeline</a></li>
    </ul>

    <p><a href="http://june29.jp/2010/05/11/twitter-chirpuserstreams-websocket/" title="TwitterのChirpUserStreamsをWebSocketで垂れ流す - 準二級.jp">TwitterのChirpUserStreamsをWebSocketで垂れ流す - 準二級.jp</a></p>
  </body>
</html>
